.flex-container
  .text-center
    h1
      span.fade-in#digit1 4
      span.fade-in#digit2 0
      span.fade-in#digit3 4
    h3.fadeIn PAGE NOT FOUND
    button(type="button" name="button") Return To Home
